
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url("components/container.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");


/*colors and font*/

body{

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  margin: 0px;
  background: #FCF8ED;
  color: #203B46;
}

h1, h2, h3{
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  font-size: 70px;

}

h2{
  color: #F7EAC9;

}



a{
  text-decoration: none;
  }
